<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="dist/bulma/bulma.min.css">
    <link rel="stylesheet" href="dist/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="dist/css/global.css">
    <title>Master class ahahah</title>
</head>

<body class="has-background-white-ter">
    <section>
        <div class="container is-fullhd">
            <div class="swiper-container" id="swiper1">
                <div class="swiper-wrapper ">
                    <div class="swiper-slide slide-img pdg-img" style="background-image: url('dist/image test/boule-2240486_1920.jpg')">
                        <div class="columns bande">
                            <div class="column is-3"></div>
                            <div class="column">Passion pétanque</div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-img pdg-img" style="background-image: url('dist/image test/boules-1041042_1920.jpg')">
                        <div class="columns bande">
                            <div class="column is-3"></div>
                            <div class="column">Vous les copains je ne vous oublierez jamais</div>
                        </div>
                    </div>

                    <div class="swiper-slide slide-img pdg-img" style="background-image: url('')">
                        <div class="columns bande">
                            <div class="column is-3"></div>
                            <div class="column">la</div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-img pdg-img" style="background-image: url('')">
                        <div class="columns bande">
                            <div class="column is-3"></div>
                            <div class="column">la</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

    <nav class="navbar is-sticky has-background-white">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item">
                    Bouliste
                </a>
                <span class="navbar-burger burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navMenu" class="navbar-menu items">
                <div class="navbar-end">
                    <a class="navbar-item ">Home</a>
                </div>
            </div>
        </div>
    </nav>

    <section class="has-background-grey-lighter">
        <div class="container  is-fullhd">
            <div class="columns is-multiline ">
                <div class="column is-6 is-paddingless">
                    <figure class="image ">
                        <img src="dist/image test/bowling-1535107_1920.jpg">
                    </figure>
                </div>
                <div class="column is-6 flex-fullcnt">
                    <p class="has-text-centered paddingText ">
                        La pétanque c'est tout pour moi, je rêve des boules je rêve des lancés.
                    </p>
                </div>
                <div class="column is-6 flex-fullcnt">
                    <p class="has-text-centered paddingText">
                        Plus qu'une passion une ambition, voulour lancer la boule toujours plus loin.
                    </p>
                </div>
                <div class="column is-6 is-paddingless">
                    <figure class="image">
                        <img src="dist/image test/bocce-1305818_1920.jpg">
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <section class="pdg-section">
        <div class="container is-fullhd">
            <div class="columns ">
                <div class="column is-1"></div>
                <div class="column is-3 flex-fullcnt">
                    <figure class="image is-128x128">
                        <img class="is-circle" src="https://cdn.pixabay.com/photo/2016/02/28/23/13/petanque-1227761_960_720.jpg">
                    </figure>
                </div>
                <div class="column is-8">
                    <p class="title is-6 has-text-centered-touch">Jacky Laforce</p>
                    <p class="has-text-centered-touch">Je suis champion de Pamiers de pétanque et j'adore ces journée entre pote on rigole bien. Rien de mieux
                        pour vivre longtemps héhé.</p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer has-background-grey-darker">
        <div class="container  flex-fullcnt">
            <div class="columns  is-fullarea">
                <div class="column is-4 see-column">
                    <div class="columns is-multiline">
                        <div class="column is-12">
                                <i class="fab fa-facebook-square has-text-white is-size-2"></i>
                        </div>
                        <div class="column is-12">
                                <i class="fab fa-instagram has-text-white is-size-2"></i>
                        </div>
                    </div>

                </div>
                <div class="column is-8 see-column">
                    <div class="content has-text-centered">
                        <p>
                            <strong class="has-text-white">Bouliste</strong> by Vous
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
<script src="dist/swiper/js/swiper.min.js"></script>
<script src="dist/js/app.js"></script>

</html>